body { 
	background-color: #efefef;
	color: #333; 
	margin: 0;
	padding: 0;
	height: 100%;
	min-height: 100%;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
/*  padding: 10px;*/
  font-size: 11px;
}

a { 
	color: #365ebf;
	background-color: #efefef;
	text-decoration: underline;
}

a:visited { 
	color: #365ebf; 
	background-color: #efefef;
	text-decoration: underline;
}

a:hover { 
	color: #efefef; 
	background-color: #365ebf; 
	text-decoration: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


#header {
	background: #999999 none repeat scroll 0 0;
	border-bottom: #d7d7d7 4px solid;
	border-top: #d7d7d7 2px solid;
	padding: 5px 5% 5px;
	margin-top: 5px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#header-nav {
	margin: 0px auto;
	padding: 8px 0px;
	
}

#header-nav a {
	color: #ffffff;
	background-color: #999999;
	text-decoration: none;
	font-size: 12pt;
	font-weight: bold;
}

#header-nav a:hover {
	color: #ffffff;
	background-color: #999999;
	text-decoration: underline;
	font-size: 12pt;
	font-weight: bold;
}

#container {
	width: 90%;
	margin: 15px auto 0px auto;
	padding-bottom: 30px;
	padding-top: 55px;
}

#content {
	 width: 1000px; float: left;
}

#code {
	width: 100%;
	font-size: 12pt;
}

#code-head {
	padding: 5px 0px 0px 10px;
}

#code-content {
	 overflow: auto;
}

#source-numbers {
	padding-left: 10px;
	margin-right: 20px;
	text-align: right;
}

#right {
	color: #666666;
	font-size: 8pt;
	width: 230px;
	float: left;
	padding: 10px 0px 0px 20px;
}

#right .stat {
	color: #365ebf;
	font-size: 12pt;
}

#right a {
	font-size: 12pt;
}

.spacer {
	margin: 0px 8px;
}

.right-heading {
	font-size: 10pt;
}

#new-code-block {
	background-color: #ffffff;
	border: #d7d7d7 3px solid;
	padding: 25px 20px;
}

.code-paste-text-area {
	width: 100%;
	border: #d7d7d7 1px solid;
}

.new_paste {
	margin: 0;
	padding: 0;
}

#new-paste-options {
	color: #666666;
	font-size: 8pt;
	padding-top: 10px;
	float: right;
	text-align: right;
}

#new-paste-options a {
	font-size: 10pt;
	color: #999999;
	background-color: inherit;
}