#content
  #legal
    %h2 Terms and Conditions
    %br
    The author/maintainer of this site shall not be held accountable for the content here nor damage done regarding how people use (or abuse) the content.
    %br
    %br
    %p.legal-section-heading Terms of Use
    By use of this site, you are agreeing to the following terms:
    %ul
      %li You are responsible and liable for all content that you submit to this site
      %li You are not permitted to post any content that will violate laws (including copyright and intellectual property laws)
      %li You are not permitted to post any content related to advertising
      %li You shall not post any content that causes damage to others or their computers
    %br
    %p.legal-section-heading Content
    As the author/maintainer of this site is not responsible for the content or any damages because of the content, you assume fully responsibility and risk for using this site.

    The author/maintainer of this site may, at their own discretion, remove any content, without notification, from this site that is deemed to be inappropriate.
    %br
    %br
.clear