<% content_for("page_scripts") do %>
    Event.observe(window, 'load',
      function() { 
	 	select_parser();
	  }
    );
<% end %>
<div id="content">
	<div id='code'>
		<div id='new-code-block'>
			<% form_for(@paste) do |f| %>
				<%= f.error_messages %>
					<div id="new-paste-box">
						<%= f.text_area :code, :rows => 26, :cols => 60, :class => 'code-paste-text-area' %>
					</div>
					<div id="new-paste-options">
						<%= f.collection_select(:parser_id, @parsers, :id, :display_name, { :include_blank => false }, :onchange => "set_parser(this.value);" ) %>
						<span class='spacer'></span>
						<span class='spacer'></span>
						<span class='spacer'></span>
						<span class='spacer'></span>
						<%= f.submit 'Paste' %>
					</div>
			<% end %>
			<div style="clear: both"></div>
		</div>
	</div>
</div>
<div id="right">
	<span class="right-heading">Just paste your code in the box and select the language</span><br/>
</div>
<div style="clear: both"></div>
