<p>
  <b>Highlighted Code:</b>
  <%= Uv.parse(@paste.code, 'xhtml', @paste.parser.name, true, 'twilight')%>
</p>

<br/>
<p>
  <b>Language</b>
  <%=h @paste.parser.display_name %>
</p>

<%= link_to 'Edit', edit_paste_path(@paste) %> |
<%= link_to 'Back', pastes_path %>